<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    <header class="page-header">
      <nav class="container">
        <a class="site-title" href="{{ absolute_url }}/">{{ site.title }}</a>

        <a href="{{ '/projects/' | relative_url }}" {% if current[1] == 'projects' %}class="active"{% endif %}>Projects</a>
        <a href="{{ '/publications/' | relative_url }}" {% if current[1] == 'publications' %}class="active"{% endif %}>Publications</a>
        <a href="{{ '/patents/' | relative_url }}" {% if current[1] == 'patents' %}class="active"{% endif %}>Patents</a>
        <a href="{{ '/certifications/' | relative_url }}" {% if current[1] == 'certification' %}class="active"{% endif %}>Certifications</a>
        <a target="_blank" href="{{ '/assets/profile/CV_Sagar_Aggarwal_2021.pdf' | relative_url }}">CV</a>
        <a target="_blank" href="{{ '/assets/profile/CV_Sagar_Aggarwal_2021.pdf' | relative_url }}">Resume</a>
        <span class="external">
          <a target="_blank" style="font-size: xx-large;" href="https://github.com/sagar-aggarwal"><i class="fa fa-github"></i></a>
          <a target="_blank" style="font-size: xx-large;" href="https://www.linkedin.com/in/aggarwal-sagar/"><i class="fa fa-linkedin"></i></a>
        </span>
      </nav>
    </header>
    <main class="page-content" aria-label="Content">
      <section class="container home">
        <div class="home-header">
          <section>
            <h1>
              Hi, I'm Sagar Aggarwal.
            </h1>
            <div class="columns">
              <div class="intro">
              {{ content }}
              </div>
              <div class="me" markdown="1">
                <picture>
    <!--               <source srcset='/assests/dominik_berlin.webp' type='image/webp' />
     -->          <img
                    src='/assets/profile/sagar_aggarwal.jpg'
                    alt='Sagar Aggarwal'/>
                </picture>
                <ul class="no-list">
                  <li>
                    <a  style="color: green;" href="mailto:{{ site.email }}">{{ site.email }}</a>
                  </li>
<!--                   <li>
                    <a href="http://www.washington.edu/maps/?q=cse">Paul G. Allen Center </a>Room 
                    <a href="https://norfolk.cs.washington.edu/directory/index.php?prev_floor=4&show_room=CSE591">591</a>
                  </li> -->
                </ul>
              </div>
            </div>
          </section>
        </div>
        <!-- <section>
          <h2 id="featured-projects">Featured Projects</h2>
          <div class="featured-projects">
            {% for project in site.data.projects %}
              {% include featured-project.html project=project %}
            {% endfor %}
          </div>
        </section> -->
        <div class="experience-grid">
          
          <section id="experience-section" class="tabbed-section small">
            <h2  style="color: green; font-weight: bold;">Industry Experience</h2>
            <hr class="line" color="green" />
            <br>
            {% include ft_experience.html %}
          </section>

        </div>

        <div class="=ex">
          <section id="experience-section" class="tabbed-section ft-section small">
            <h2 style="color: green; font-weight: bold;">Academic Experience</h2>
            <hr class="line" color="green" />
            <br>
            {% include experience.html %}
          </section>
          </div>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
